<section class="about-baking">
    <div class="container">
        <div class="about-baking-content">
            <div class="about-baking__left">
                <img src="./assets/img/about-baking.svg" alt="about-baking">
            </div>
            <div class="about-baking__right">
                <div class="about-baking__description">Freshly baked means fresh bakery smells filling your home, warm
                    oozey
                    pastries on your plates, and never needing to get out of your PJs.</div>
                <a href="#" class="btn def-btn">Shop pastry kits</a>
            </div>
        </div>

    </div>
</section>