<section class="brand-story">
    <div class="container">
        <div class="story-item story-item--decor-right">
            <div class="story-item__left">
                <img src="./assets/img/brand-story-1.png" alt="brand-story-1" class="story-item__img">
            </div>
            <div class="story-item__right">
                <h5 class="story-item__title">AMAZING INGREDIENTS</h5>
                <div class="story-item__subtitle">We like to keep things simple and authentic. We’ve sourced the very
                    best from the very best, from our Poitou-Charentes butter to our Valrhona chocolate batons.</div>
                <a href="#" class="btn def-btn">Read more</a>
            </div>
        </div>
        <div class="story-item story-item--reversed story-item--decor-left">
            <div class="story-item__left">
                <img src="./assets/img/brand-story-2.png" alt="brand-story-2" class="story-item__img">
            </div>
            <div class="story-item__right">
                <h5 class="story-item__title">LEGENDARY BAKES</h5>
                <div class="story-item__subtitle">The inspiration for our brand and our guiding principles is the Legend
                    of El Tarlà. A young man who brought joy to the isolated citizens of Girona during an outbreak of
                    the plague.</div>
                <a href="#" class="btn def-btn">Read more</a>
            </div>
        </div>
    </div>
</section>