<footer class="footer">
	<div class="container">
		<div class="footer-row">
			<a href="index/html" class="logo">
				<img src="./assets/img/logo-tarla.svg" alt="logo">
			</a>
			<nav class="footer-nav">
				<div class="footer-nav__column">
					<h5 class="footer-nav__title">Account</h5>
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">SING UP</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">LOG IN</a></li>
					</ul>
				</div>
				<div class="footer-nav__column">
					<h5 class="footer-nav__title">Our company</h5>
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">SHOP</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">OUR STORY</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">WHO IS TARLA?</a></li>
					</ul>
				</div>
				<div class="footer-nav__column">
					<h5 class="footer-nav__title">Resources</h5>
					<ul class="footer-nav__list">
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">FAQ</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">CONTACT</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">BECOME AN INFLUENCER</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">PRIVACY POLICY</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">TERMS OF SERVICE</a></li>
						<li class="footer-nav__item"><a href="#" class="footer-nav__link">REFUND POLICY</a></li>
					</ul>
				</div>
			</nav>
			<div class="footer-social">
				<h5 class="footer-social__title">
					<a href="#">@tarlabakes</a>
				</h5>
				<div class="social">
					<a href="#">
						<img src="./assets/img/twitter-tarla.svg" alt="twitter">
					</a>
					<a href="#">
						<img src="./assets/img/facebook-tarla.svg" alt="facebook">
					</a>
					<a href="#">
						<img src="./assets/img/inst-tarla.svg" alt="instagram">
					</a>
					<a href="#">
						<img src="./assets/img/tiktok-tarla.svg" alt="tiktok">
					</a>
					<a href="#">
						<img src="./assets/img/spotify-tarla.svg" alt="spotify">
					</a>
				</div>
			</div>


		</div>
		<div class="footer-copyright">
			©2021 Tarla
		</div>
	</div>
</footer>
<script src="assets/js/custom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="assets/js/swiper.js"></script>
</body>

</html>