<header class="header">
    <div class="header-top">
        <div class="header-row">
            <div class="delivery-message">
                We're focusing on London to start with, please enter your post code here to see if you're within our
                delivery zone!
            </div>
            <input class="postcode-input" type="text" placeholder="Post code">
            <button class="btn btn-check">Check</button>
            <button class=" btn btn-close">
                <img src="./assets/img/btn-close.svg" alt="Close">
            </button>

        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__left">
            <img src="./assets/img/logo-tarla.svg" alt="logo" class="logo-tarla">
            <nav class="header-nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#">SHOP</a></li>
                    <li class="nav__item"><a href="#">OUR STORY</a></li>
                    <li class="nav__item"><a href="#">WHO IS TARLA?</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom__right">
            <div class="header-btn-wrap">
                <div class="header-log">
                    <a href="#" class="btn-icon">
                        <img src="./assets/img/log-btn.svg" alt="Log in">
                        <span>Log in</span>
                    </a>
                </div>
                <div class="header-cart">
                    <a href="#" class="btn-icon">
                        <img src="./assets/img/cart-btn.svg" alt="Cart">
                        <span>Cart</span>
                    </a>
                </div>
            </div>

        </div>
    </div>


</header>