<section class="shop">
    <div class="container">
        <h2 class="shop__title">Shop pastry kits</h2>
        <div class="shop__products">
            <div class="shop__product">
                <img src="./assets/img/product_1.png" alt="product_1">
                <h3 class="shop__product-name">ALL-BUTTER CROISSANT</h3>
                <div class="shop__product-price">Kit of 6 - £12</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
            <div class="shop__product">
                <img src="./assets/img/product_2.png" alt="product_2">
                <h3 class="shop__product-name">ALMOND CROISSANT</h3>
                <div class="shop__product-price">Kit of 6 - £13.50</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
            <div class="shop__product">
                <img src="./assets/img/product_3.png" alt="product_3">
                <h3 class="shop__product-name">RARBERRY DANISH</h3>
                <div class="shop__product-price">Kit of 6 - £13.50</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
            <div class="shop__product">
                <img src="./assets/img/product_4.png" alt="product_4">
                <h3 class="shop__product-name">PAIN AUX RAISINS</h3>
                <div class="shop__product-price">Kit of 6 - £13.50</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
            <div class="shop__product">
                <img src="./assets/img/product_5.png" alt="product_5">
                <h3 class="shop__product-name">APRICOT DANISH</h3>
                <div class="shop__product-price">Kit of 6 - £13.50</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
            <div class="shop__product">
                <img src="./assets/img/product_6.png" alt="product_6">
                <h3 class="shop__product-name">PAIN AU CHOCOLAT</h3>
                <div class="shop__product-price">Kit of 6 - £13.50</div>
                <a href="#" class="btn def-btn">Add to cart</a>
            </div>
        </div>
    </div>
</section>