<section class="works">
    <div class="container">
        <div class="how-it-works">
            <h2 class="works-title">How it works</h2>
            <div class="process">
                <div class="step">
                    <img src="./assets/img/step-1.png" alt="step-1">
                    <h3 class="step-title">CHOOSE YOUR <br>FAVE</h3>
                    <div class="step-subtitle">This sounds easier than it's going to be. We've got all the classics on
                        here,
                        so now it's over to you.</div>
                </div>
                <div class="step">
                    <img src="./assets/img/step-2.png" alt="step-2">
                    <h3 class="step-title">DING <br>DONG</h3>
                    <div class="step-subtitle">Next you'll get a beautiful little package delivered to your door, on a
                        day
                        and time slot that you choose.</div>
                </div>
                <div class="step">
                    <img src="./assets/img/step-3.png" alt="step-3">
                    <h3 class="step-title">GET <br>BAKED</h3>
                    <div class="step-subtitle">Take your fresh pastry sheet and fillings, learn our pro techniques then
                        never buy a stale pastry ever again.</div>
                </div>
                <div class="step">
                    <img src="./assets/img/step-4.png" alt="step-4">
                    <h3 class="step-title">TAKE THE <br>CREDIT</h3>
                    <div class="step-subtitle">It was all you, nudge-nudge wink-wink. We're just happy to be your loyal
                        side-kick.</div>
                </div>
            </div>
            <a href="#" class="btn def-btn">Shop pastry kits</a>
        </div>
    </div>

</section>